body{
    margin: 0px;
    font-family: 'Roboto';
}
#nav_bar{
    display: flex;
    margin-left: 72%;
    font-weight: bold;
}
.nav_bar_items{
    padding: 10px;
}

.top_section{
    margin-top: 5px;
    display: flex;
    height: 700px;
}
.half_width{
    width: 40%;
    margin: 0px 7%;
    padding: 20px;
}
.half_width p{
    margin: 0px 0px 50px 0px;
}
.half_width img{
    height: 85%;
}
h1{
    font-size: 80px;
    font-family: 'Bebas Neue';
}
h2{
    font-family: 'Bebas Neue';
    font-size: 50px;
}
h3{
    font-family: 'Bebas Neue';
    font-size: 48px;
}
.chocolate_color{
    color: #363958;
}
.crimson_color{
    color: #FF8367;
}
p{
    color: #3E3E3E;
}
.button{
    color: white;
    text-decoration: none;
    background-color: #FF8063;
    padding: 15px 30px;
    border-radius: 6px;
}
.project_section{
    background-color: #F8F9FC;
    height: 700px;
    padding: 30px;
}
.project_section h3{
    text-align: center;
}
.main_project_div{
    display: flex;
    margin: 0px 3%;
}
.one_third_width{
    width: 30%;
    background-color: white;
    border-radius: 19.74px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 6.5812px 19.7436px rgba(0, 0, 0, 0.07);
}
h4{
    font-family: 'Bebas Neue';
    font-weight: bold;
    font-size:28px;
}
.one_third_width img{
    width: 100%;
}
#middle{
    text-align: center;
}
.work_experience_section{
    background-image: linear-gradient(60deg, white, rgba(235, 225, 225, 0.644));
    display: flex;
    height: 400px;
    padding: 30px;
}
.work_div{
    display: inline-block;
    width: 30%;
    padding: 10px;
    margin: 2%;
    box-shadow: 0px 2px 15px rgba(0, 255, 255, 0.582);
}
.work_div img{
    padding: 20px;
    height: 20%;
}

.last_section{
    height: 580px;
}
.last_half{
    height: 40%;
    align-items: center;
}
.background{
    height: 40%;
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    background-image: url(sources/shapes/Group_33094_1.png);
    background-repeat: no-repeat;
    background-size:60%;
    background-position: center;
}
.background p{
    margin-right:0px 30% 0px 40%;
    padding:0px 25% 0px 27%;
    color: white;
    font-weight: 700;
    font-size: 35px;
    font-family: Bebas Neue;
    align-items: center;
}
.footer_portion p{
    text-align: center;
    margin-top: 5%;
}
.footer_portion h4{
    text-align: center;
    font-family:Roboto;;
}
.footer_img_div{
    display: flex;
    margin-left: 45%;
}
.footer_img_div img{
    width: 4%;
    margin-right: 3%;
}

